- title "Nominee"

%p
  = image_tag @nominee.image.url(:normal)

%p
  %strong Name:
  =h @nominee.name
%p
  %strong Content:
  =h @nominee.content
%p
  %strong Tags:
  - @nominee.tag_counts_on(:tags).each do |tag|
    = link_to tag.name, root_path(:subdomain => tag)
  %p
    %strong Rank:
    = @nominee.rank
  %p      
    = @nominee.votes_for
    Flames
  %p  
    = @nominee.votes_against
    Lames
  %p
    Vote:  
    - if current_user
      - unless @nominee.voted_by?(current_user)
        = link_to "Flame", :controller => 'vote', :action => 'vote_up', :id => @nominee
        |
        = link_to "Lame", :controller => 'vote', :action => 'vote_down', :id => @nominee
      - else
        You have already voted for this Nominee
    - else
      You must be signed in to vote      

%p
  = link_to "Edit", edit_nominee_path(@nominee, :subdomain => false)
  |
  = link_to "View All", root_path(:subdomain => false)
  |
  = link_to "Back", :back