- title "Nominee"

%p
  = image_tag @nominee.image.url(:normal)

%p
  %strong Name:
  =h @nominee.name
%p
  %strong Content:
  =h @nominee.content
%p
  %strong Tags:
  - @nominee.tag_counts_on(:tags).each do |tag|
    = link_to tag.name, root_path(:subdomain => tag)
  %p
    %strong Rank:
    = @nominee.oflame_rank

%p
  = link_to "Edit", edit_nominee_path(@nominee, :subdomain => false)
  |
  = link_to "View All", root_path(:subdomain => false)
  |
  = link_to "Back", :back