- form_for @vote do |f|
  = f.error_messages
  %p
    = f.label :nominee_id
    %br
    = f.text_field :nominee_id
  %p
    = f.label :user_id
    %br
    = f.text_field :user_id
  %p
    = f.label :rank
    %br
    = f.text_field :rank
  %p
    = f.submit "Submit"
