- title "Login"

- form_for @user_session do |f|
  = f.error_messages
  = token_tag
  %p
    = f.label :username
    %br
    = f.text_field :username
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.submit "Submit"


= link_to 'Back', :back
|
= link_to 'Home', root_path(:subdomain => false)